In [1]:
import pandas as pd
from IPython.display import display

def hitung_jumlah_nilai(targets):
    count_0 = 0
    count_1 = 0
    count_2 = 0

    for target in targets:
        if target == 0:
            count_0 += 1
        elif target == 1:
            count_1 += 1
        elif target == 2:
            count_2 += 1

    return count_0, count_1, count_2

# Informasi Nama dan NIM
print("Nama : WAHYUDI MALIHI")
print("NIM  : E1E120099")

# Mengambil input dari pengguna
input_targets = input("Masukkan Nilai Target : ")
targets = [int(target) for target in input_targets.split(",")]

# Menghitung jumlah nilai
count_0, count_1, count_2 = hitung_jumlah_nilai(targets)

# Menyiapkan data untuk DataFrame
data = {"Nilai Target": ["0", "1", "2"], "Jumlah": [count_0, count_1, count_2]}

# Membuat DataFrame
df = pd.DataFrame(data)


# Menampilkan Hasil Perhitungan
print("\nHasil Perhitungan:")

# Menampilkan tabel hasil perhitungan
display(df)

Nama : WAHYUDI MALIHI
NIM  : E1E120099
Masukkan Nilai Target : 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,2,2,2,2,2

Hasil Perhitungan:

  Nilai Target  Jumlah
0            0      32
1            1      53
2            2      41